<div class="request">
    <a href="#" class="request__link">
        <span>  REQUEST A DEMO</span>
    </a>
</div>
<div class="contactModal">
    <a href="#" class="contactModal__close">&times;</a>
    <div class="row m-0">
        <div class="col-md-6 p-0">
            <div id="map" class="contactModal__map"></div>
        </div>
        <div class="col-md-6 p-0">
            <h1 class="contactModal__firsttitle">
                CONTACT
                <strong>US</strong>
            </h1>
           <!--  <div class="contactModal__top d-flex justify-content-between">
                <div class="contactModal__about">
                    <h4>
                        VISIT US
                    </h4>
                    <p>
                        Mahmutbey Mah. Taşocağı Cad. No:3,
                    </p>
                    <p>
                        Ağaoğlu My Office 212, Kat: 26, D:432,
                    </p>
                    <p>
                        34218, Bağcılar / İstanbul, Turkey
                    </p>
                </div>
                <div class="contactModal__about">
                    <h4>
                        E-MAIL US
                    </h4>
                    <p>
                        General enquirries
                        <a href="mailto:">info@nintu.com.tr</a>
                    </p>
                    <p>
                        Technical support
                        <a href="mailto:">support@nintu.com.tr</a>
                    </p>
                </div>
                <div class="contactModal__about">
                    <h4>
                        Call US
                    </h4>
                    <p>
                        <a href="tel:"> (+90 212) 576 1221</a>
                    </p>
                    <p>
                        <a href="mailto:">(+90 542) 575 0743</a>
                    </p>
                </div>
            </div> -->
            <div class="contactModal__form">
                <h1>
                    SAY
                    <strong>HELLO</strong>
                </h1>
                <form>
                    <div class="form-group d-flex justify-content-between">
                        <input type="text " placeholder="Name / Surname" class="form-control contactModal__input">
                  
                        <input type="email " placeholder="E-mail" class="form-control contactModal__input">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control contactModal__textarea" placeholder="Message"></textarea>
                    </div>
                    <button class="contactModal__send" type="submit"> SEND MAIL</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="demoModal">
    <a href="#" class="demoModal__close">&times;</a>
    <div class="row m-0">
        <div class="col-md-6 p-0">
            <div  class="demoModal__img">
                <img src="img/modal.png" alt="">
            </div>
        </div>
        <div class="col-md-6 p-0">
            <h1 class="contactModal__firsttitle text-center">
                REQUEST A 
                <strong>DEMO</strong>
            </h1>
            <p>
                Please fill out all required fields to order Corpolead Hotel, contact us or request a demo. 
            </p>
            <div class="contactModal__form">
          
                <form>
                    <div class="form-group d-flex justify-content-between">
                        <input type="text " placeholder="Name / Surname" class="form-control contactModal__input">
                  
                        <input type="email " placeholder="E-mail" class="form-control contactModal__input">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control contactModal__textarea" placeholder="Message"></textarea>
                    </div>
                    <button class="contactModal__send" type="submit"> SEND MAIL</button>
                </form>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="contact ">
        <div class="container">
            <div class="contact__center d-flex align-items-center">
                <div class="row m-0 w-100">
                    <div class="col-md-6 p-0">
                        <h1>
                            WANT TO GET
                            <strong>STARTED?</strong>
                        </h1>
                    </div>
                    <div class="col-md-6 p-0">
                        <a href="#" class="contact__contactLink">
                            <span> CONTACT US</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container footer__bottom">
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="footer__logo">
                    <img src="img/logowhite.png" class="img-fluid" alt="">
                </a>
                <p>
                    Copyright © 2021 Caloree Dış Ticaret LTD. ŞTİ.
                </p>
            </div>
            <div class="col-md-3">
                <div class="footer__linkgroup">
                    <a href="#">
                        What is NINTU SOFTWARE
                    </a>
                    <a href="#">
                        Product overview
                    </a>
                    <a href="#">
                        Process map
                    </a>
                    <a href="#">
                        Features
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer__linkgroup">
                    <a href="#">
                        Advantages
                    </a>
                    <a href="#">
                        Presentation
                    </a>
                    <a href="#">
                        Price
                    </a>
                    <a href="#">
                        Contact
                    </a>
                </div>
            </div>
            <div class="col-md-2 d-flex align-items-center">
                <div class="headerTop__right footer__sosial justify-content-between">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-play"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
