<header class="myHeader">
    <div class="headerTop">
        <div class="container">
            <div class="d-flex headerTop__inside align-items-center justify-content-between">
                <a href="tel:" class="headerTop__left" target="_blank">
                    +90 212 575 1221
                </a>
                <div class="headerTop__right">
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-play"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="#">
                        tr
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="headerBottom d-flex" id="fixed">
        <nav class="navbar navbar-expand w-100">
            <div class="container">
                <a href="index.html" class="navbar-brand">
                    <img src="img/logo.png" alt="" class="img-fluid">
                </a>
                <ul class="navbar-nav myNavigation ml-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span data-hover="  What is NINTU SOFTWARE">
                                What is NINTU SOFTWARE
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span data-hover="  Product overview">
                                Product overview
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span data-hover="  Process map">
                                Process map
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span data-hover="  Features">
                                Features
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span data-hover=" Advantages">
                                Advantages
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span data-hover="Presentation  ">
                                Presentation
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span data-hover="Price">
                                Price
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <span data-hover=" Contact">
                                Contact
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="mobile">
                    <div class="mainContainer">
                        <a href="#" class="menuBtn">
                            <span class="lines"></span>
                        </a>
                        <nav class="mainMenu">
                            <ul class="">
                                <li class=" ">
                                    <a class="mobLink " href="#">Ana səhifə</a>
                                </li>
                                <li class="">
                                    <a class="mobLink" href="#">Yaşayış kompleksi</a>
                                </li>
                                <li class="">
                                    <a class="mobLink" href="#">Planlar</a>
                                </li>
                                <li class="">
                                    <a class="mobLink " href="galery.html">Tanıtım videosu</a>
                                </li>
                                <li class="">
                                    <a class="mobLink" href="#">Üstünlüklərimiz</a>
                                </li>
                                <li class="">
                                    <a class="mobLink" href="#">Premium yaşa</a>
                                </li>
                                <li class="">
                                    <a class="mobLink" href="contact.html">Əlaqə</a>
                                </li>
                            </ul>
                      
                         
                        </nav>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
