/* Fonts */
$aznb:jaznb;
$pbb:Poppins-Bold;
$pbl:Poppins-Light;
$pbm:Poppins-Medium;
$pmr:Poppins-Regular;
$pmsb:Poppins-SemiBold;
$nr:Nunito-Regular;

/* Colors */
$color-primary:#d29754;
$color-secondary:#a17a50;
$color-blue-light:#03286a; 
$color-blue-dark:#001b4b;